 .title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
 }

 .text {
  color: #777;
 }

 .btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  /* margin: 50px auto; */
  margin-top: 30px;
  margin-bottom: 0;
  background-color: rgb(86, 10, 236);
  color: white;
  text-align: center;
  border-radius: 8px;
 }