@import "tailwindcss";

body {
  background-color: white;
  color: #333;
}

a {
  color:#333;
  text-decoration: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid white;
}

nav a {
  margin-left: 13px;
}

nav .logo {
  margin-right: auto;
}

footer {
  display: block;
  text-align: center;
  padding: 30px;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid white;
}